<div class="container">
  <h1>Clipstamp</h1>
  <p>Create a clip when the map starts and edit it to start where you want the timestamp to be.</p>
  <div id="clip-app">
    <noscript>Clipstamp requires JavaScript to work.</noscript>
  </div>
</div>

